.header {
    width: 100%;
    background-color: transparent;
    color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.header-logo {
    width: 50px;
    height: 50px;
    background-image: url('../images/light-logo.png');
    background-color: yellow;
    background-size: 100%;
    padding: 5px;
    display: inline-block;
    margin: 5px;
}
.header-logo:hover {
    background-image: url('../images/dark-logo.png');
}
.header-logo:hover > .header-logo__svg {
    color: gold;
}
.header-logo__svg {
    display: block;
    width: 50px;
    height: 50px;
}
.header-menu {
    padding: 0 10px;
}
.header-menu__item {
    background-color: gold;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    cursor:default;
}

.header-menu__href:hover {
    background-color: darkslategray;
    color: gold;
}

.header-menu__href {
    display: block;
    color: black;
    padding: 10px 5px;
    text-transform: uppercase;
}

#user-item {
    display: none;
}

#user-item:hover{}