main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 2s;
}
.context {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 768px;
    padding: 60px 10px 10px;
}
.examples-menu * {
    color: white;
}
.examples-menu a {
    color: white;
}
.examples-menu__h {
    font-weight: bold;
    padding: 20px;
}
.examples-menu__item{
    text-decoration: none;
    list-style-type: none;
}
.examples-menu__href{
    padding: 10px;
    display: block;
    color: #2a004a;
    cursor: default;
}
.examples-menu__href:hover{
    background-color: gold;
    color: black;
}
body {
    transition: background-color 1s;
}
.adaptive-background {
    transition: opacity 1s;
    box-sizing: content-box;
    min-height: 80vh;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}