* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    background-color: black;
    background-image: url("../images/js.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
footer {
    color: white;
}
