.context {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 768px;
    padding: 10px;
    padding-top: 60px;
}
.examples-menu__item{
    text-decoration: none;
    list-style-type: none;
    cursor: default;
}